@import "/src/app/mixins.scss";
.edit-deadline-form{
    &__modal-btn{
        @include button_blue;
        background-color:darkgrey;
        //margin-left: 10px;
        width: 45%;
    }
    &__edit-input{
        display: flex;
        flex-direction: column;
    }
}