<form class = "edit-deadline-form" [formGroup]="editForm" novalidate (ngSubmit)="edit()">
    <div class="edit-deadline-form__edit-input">
        <mat-label>Критичное количество дней до дедлайна</mat-label>
        <mat-form-field appearance="fill">
            <input matInput type="number" formControlName="day">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button class = "edit-deadline-form__modal-btn" mat-button mat-dialog-close>Закрыть</button>
        <button class = "edit-deadline-form__modal-btn" mat-button mat-dialog-close cdkFocusInitial type="submit" [disabled]="editForm.invalid" (click)="edit()">Изменить</button>
    </div>
</form>