@import "/src/app/mixins.scss" ;

.modal {
	position         : absolute;
	display          : flex;
	justify-content  : center;
	align-items      : center;
	z-index          : 9999;
	left             : 0;
	right            : 0;
	top              : 0;
	bottom           : 0;
	background-color : rgba(0, 0, 0, 0.3);
	&:hover {
		background-color : rgba(0, 0, 0, 0.5);
	}
	&__window {
		position        : relative;
		display         : flex;
		flex-direction  : column;
		justify-content : flex-start;
		width           : 350px;
		border-radius   : 5px;
		border          : #f1f1f1 solid 1px;
		background      : white;
		color           : black;
		margin-bottom   : 15px;
		padding-bottom  : 10px;
	}

	&__header {
		display         : flex;
		flex-direction  : row;
		justify-content : space-between;
		align-items     : center;
		padding         : 5px 15px;
	}
	
	&__title {
		margin : 0;
	}
	
	&__close-button {
		font-size : 1.2rem;
		cursor    : pointer;
		color     : #000000;
	}
	
	&__content {
		color      : #000000;
		padding    : 1rem;
		border-top : 1px solid #000000;
	}
	
	&__button{
		@include button_blue
	}
}






