<div class="modal">
    <div class="modal__window">
        <div class="modal__header">
            <h3 class="modal__title">{{header$ | async}}</h3>
            <a class="modal__close-button" (click)="close()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class="modal__content">
            <span>{{description$ | async}}</span>
        </div>
        <button class="modal__button" (click)="close()">ОК</button>
    </div >
</div>
