@import "/src/app/mixins.scss" ;
.add-dialog-form{

    &__name-date{
        display: flex;
        justify-content: space-between;
    }
    &__form-field{
        margin-left: 5px;
        width: 49%;
        
    }

    &__full-width {
        width: 100%;
    }

    &__modal-btn{
        @include button_blue;
        background-color:darkgrey;
        //margin-left: 10px;
        width: 45%;
    }

    &__btn-clear{
        //background-color: rgba(66,66,66);
        background: transparent;
        float: right;
        border: none;
        mat-icon{
            color: white;
            opacity: 100%;
          }
        
    }
}
