<div class = "table-form" *ngIf="userTask$ | async as task">
  <button class = "table-form__button" mat-raised-button (click)="addDialog()">Добавить</button>
  <button class = "table-form__button" mat-raised-button (click)="clearData()">Очистить таблицу</button>

  <table class = "table-form__table" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" multiTemplateDataRows>
    
    <ng-container matColumnDef="nameTask">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Название 
      </th>
      <td mat-cell *matCellDef="let element"> {{element.nameTask}} </td>
    </ng-container>


    <ng-container matColumnDef="dateDeadline">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by deadline">
        Дата окончания
      </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDeadline | date: 'dd.MM.yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by priority">
        Приоритет
      </th>
      <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
        Категория
      </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
        Статус задачи
      </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef >
        Редактировать
      </th>
      <td mat-cell *matCellDef="let element; let i = dataIndex"> 
        <button class = "table-form__change-btn" (click)="editTask(i)">
           <mat-icon>edit</mat-icon> 
        </button> 
      </td>
    </ng-container>
    
    <ng-container  matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef >
        Удалить
      </th>
      <td mat-cell *matCellDef="let element; let i = dataIndex"> 
        <button class = "table-form__change-btn" (click)="deleteTask(i)"> 
          <mat-icon >delete_outline</mat-icon> 
        </button> 
      </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row" 
            class = "table-form__change-btn" 
            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element; let i = dataIndex" [attr.colspan]="columnsToDisplayWithExpand.length">
        
        <div class="table-form__element-detail"
             [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
          <div class="table-form__element-description">
            {{element.description}}
            <button class = "table-form__change-status-btn" 
              *ngIf = "element.status==='4 - отложено'" 
              (click)="returnStatus(i)">Вернуть</button>
            <button class = "table-form__change-status-btn" 
              *ngIf = "element.status==='1 - не выполнено'" 
              (click)="holdOverStatus(i)">Отложить</button>
            <button class = "table-form__change-status-btn" 
              *ngIf = "element.status==='1 - не выполнено'" 
              (click)="failStatus(i)">Провалить</button>
            <button class = "table-form__change-status-btn" 
              *ngIf = "element.status==='1 - не выполнено'" 
              (click)="doneStatus(i)">Выполнить</button>
          </div>
          
        </div>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr [class.soon-deadline] = "checkDeadline(element.status, element.dateDeadline)" mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="table-form__element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
        [class.failed-task] = "element.status==='3 - провалено'"
        [class.done-task] = "element.status==='2 - выполнено'"
        [class.holdOver-task] = "element.status==='4 - отложено'">
    </tr>
    <tr [class.soon-deadline] = "checkDeadline(row.status, row.dateDeadline)" mat-row *matRowDef="let row; columns: ['expandedDetail']" 
        class="table-form__detail-row"
        [class.failed-task] = "row.status==='3 - провалено'"
        [class.done-task] = "row.status==='2 - выполнено'"
        [class.holdOver-task] = "row.status==='4 - отложено'"></tr>
    

    
  </table>
</div>