@import "/src/app/mixins.scss" ;

.table-form{
  &__button{
    @include button_blue;
    background-color:darkgrey;
    margin-left: 10px;
    &:hover{
      background-color:rgb(186, 185, 185);
    }
  }

  &__table{
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  tr.table-form__detail-row {
    height: 0;
    &.soon-deadline{
      background: rgb(234, 160, 32);
    }
    &.failed-task{
      background: rgb(233, 80, 60);
    }
    &.done-task{
      background: rgba(157, 230, 89, 0.863);
    }
    &.holdOver-task{
      background: rgba(120, 120, 120, 0.863);
    }
    
  }
  tr.table-form__element-row{
    &.soon-deadline{
      background: rgb(234, 160, 32);
    }
    &.failed-task{
      background: rgb(233, 80, 60);
    }
    &.done-task{
      background: rgba(157, 230, 89, 0.863);
    }
    &.holdOver-task{
      background: rgba(120, 120, 120, 0.863);
    }
  }
  
  tr.table-form__element-row:not(.example-expanded-row):hover {
    //background: rgb(138, 138, 138);
    opacity: 60%;
  }
  
  tr.table-form__element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  &__change-btn{
    background: transparent;
    border: none;
    mat-icon{
      color: white;
      opacity: 100%;
    }
  }

  &__element-row td {
    border-bottom-width: 0;
  }
  
  &__element-detail {
    overflow: hidden;
    display: flex;
  }
  
  &__element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  &__element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  &__element-description {
    padding: 16px;
    width: 100%;
  }
  
  &__element-description-attribution {
    opacity: 0.5;
  }
  
  &__change-status-btn{
    @include button_blue;
    float: right;
    background-color:darkgrey;
    margin-left: 10px;
    &:hover{
      background-color:rgb(186, 185, 185);
    }
  }

  
}

  











