@import "/src/app/mixins.scss" ;

.edit-category-table{
    width: 100%;
    
    &__change-btn{
        background: transparent;
        border: none;
        float: right;    
    }
    &__change-icon{
        color: white;
        opacity: 100%;
        &:hover{
            opacity: 85%;
        }
    }
    &__row{
        display: flex;
        flex-direction: column;
    }
    &__error{
        color: red;
    }
}
.edit-category-button{
    &__change{
        @include button_blue;
        background-color:darkgrey;
        //margin-left: 10px;
        width: 100%;
        &:hover{
            background-color:rgb(186, 185, 185);
        }
    }
}




