<form [formGroup]="categoryForm">
  <mat-table class="edit-category-table"  [dataSource]="dataSource" formArrayName="categories">

    <ng-container matColumnDef="category">
      <td mat-cell *matCellDef="let element; let ind = index" [formGroupName]="ind"> 
        <div class="edit-category-table__row">
          <mat-form-field >
              <input matInput type="text" formControlName = "name" value="element.name" required="">
          </mat-form-field> 
          <small class = "edit-category-table__error" *ngIf = "element === '' && flagInvalid">Категория не может быть пустой</small>
        </div>  
      </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <td mat-cell *matCellDef="let element; let i = index"> 
        <mat-icon class="edit-category-table__change-icon" (click)="deleteCategories(element)">delete_outline</mat-icon> 
      </td>
    </ng-container>

    
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>

  <div class="edit-category-button">
    <button class="edit-category-button__change" (click)="addCategory()">
      Добавить
    </button>
    <button class="edit-category-button__change" (click)="save()">
      Сохранить
    </button>
  </div>
</form>