@import "/src/app/mixins.scss" ;

// .navbar__btn {
//     @include button_blue;
//     //width: 100%;
// }

.navbar{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.818);
    
    
    //top: 0;
    width: 100%;
    height: 7%;
    margin-bottom: 10px;
    ul {
      text-align: right;
      margin: auto;
      li {
        display: inline;
        font-family: "Fira Sans", sans-serif;
        font-size: 17vw;
        button {
            @include button_blue;
            width: 20%;
            vertical-align: top;
            margin-right: 10px;
            &:hover {
                background-color: #111;
            }
            @media (max-width : 600px){
              width:fit-content;
            }
        }
        .navbar__btn-edit{
          width: 10%;
          @media (max-width : 600px){
            width:fit-content;
          }
        }
      }
    }
  }
