
<nav class="navbar" *ngIf="userInfo$ | async as user">
  <title>
    ToDoist
  </title>
  <ul>
    <li *ngIf = "user.userName===''"><button mat-button class="navbar__btn" routerLink="/autorization">Вход</button></li>
    <li *ngIf = "user.userName===''"><button mat-button class="navbar__btn" routerLink="/registration">Регистрация</button></li>

    <li *ngIf = "user.userName!==''"><button mat-button class="navbar__btn" routerLink="/autorization" (click)="logOut()">Выйти</button></li>

    <li *ngIf = "user.userName!==''">
      <button mat-button class="navbar__btn-edit" [matMenuTriggerFor]="menu">{{user.firstName}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="viewEditCategory()">Редактировать категории</button>
          <button mat-menu-item (click)="viewEditDeadline()">Редактировать отсчёт дедлайна</button>
        </mat-menu>
    </li>
  </ul>
</nav>
<div class = "autorization">
  <router-outlet></router-outlet>
</div>
