@mixin button_blue{
    background-color: #3ecefa;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}