<form class = "autorization-form" [formGroup]="autorizeForm" novalidate >
    
    <label class="autorization-form__label"><b>Имя пользователя</b></label>
    <input class="autorization-form__input" placeholder="Введите имя пользователя" formControlName="login">
    <div class="autorization-form__alert"
      *ngIf="autorizeForm.get('login')?.invalid && autorizeForm.get('login')?.touched">
      <small *ngIf="autorizeForm.get('login')?.errors?.['required']">Это поле не может быть пустым</small>
    </div>

    <label class="autorization-form__label" ><b>Пароль</b></label>
    <input class="autorization-form__input" type = "password" placeholder="Введите пароль" formControlName="password">
    <div class="autorization-form__alert"
      *ngIf="autorizeForm.get('password')?.invalid && autorizeForm.get('password')?.touched">
      <small *ngIf="autorizeForm.get('password')?.errors?.['required']">Это поле не может быть пустым</small>
      <small *ngIf="autorizeForm.get('password')?.errors?.['minlength']">Длина должна быть не менее {{autorizeForm.get('password')?.errors?.['minlength'].requiredLength}}</small>
    </div>
  
    <button class="autorization-form__button" type="submit"  [disabled]="autorizeForm.invalid" (click)="OnLogin()">Войти</button>
    <button class="autorization-form__button" (click)="registrationNavigate()">Зарегестрироваться</button>
  
</form>