@import "/src/app/mixins.scss" ;

.autorization-form {
    border: 3px solid #f1f1f1;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color:#f1f1f1;
    padding: 16px;

    @media (max-width:600px){
        width: 80%;
    }
    &__input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;

        &.ng-touched.ng-invalid {
            border:solid red 2px;
        }
        
        &.ng-touched.ng-valid {
            border:solid green 2px;
        }
    }
    
    
    &__button {
        @include button_blue;
        width: 100%;

        &:hover {
            background-color: #111;//opacity: 0.8;
        }
        &:disabled{
            opacity: 50%;
        }
    }
    
    
    &__span {
        float: right;
        padding-top: 16px;
    }
    
    &__alert{
        color: red;
    }
    
}

