<form class="confirm-form">
  <h1 mat-dialog-title>Удаление записи</h1>
  <div mat-dialog-content>
    Вы уверены, что хотите удалить запись?
  </div>
  <div mat-dialog-actions>
    <button class = "confirm-form__btn-delete" mat-button mat-dialog-close >Нет</button>
    <button class = "confirm-form__btn-delete" mat-button mat-dialog-close cdkFocusInitial (click)="confirmDelete()">Да</button>
  </div>
</form>