@import "/src/app/mixins.scss" ;

.confirm-form{
    &__btn-delete{
        @include button_blue;
        background-color:darkgrey;
        width: 45%;
        &:hover{
            opacity: 90%;
        }
    }
}