
<form class = "registration-form" [formGroup]="registerForm" novalidate (ngSubmit)="OnRegistration()">

    <label class="registration-form__label"><b>Имя</b></label>
    <input class="registration-form__input"  formControlName = "firstname" placeholder="Введите своё имя">
    <div class="registration-form__alert"
        *ngIf="registerForm.get('firstname')?.invalid && registerForm.get('firstname')?.touched">
        <small *ngIf="registerForm.get('firstname')?.errors?.['required']">Это поле не может быть пустым</small>
    </div>

    <label class="registration-form__label"><b>Фамилия</b></label>
    <input class="registration-form__input"  formControlName = "lastname" placeholder="Введите свою фамилию">
    <div class="registration-form__alert"
        *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched">
        <small *ngIf="registerForm.get('lastname')?.errors?.['required']">Это поле не может быть пустым</small>
    </div>

    <label class="registration-form__label"><b>Логин</b></label>
    <input class="registration-form__input"  formControlName="login" placeholder="Введите логин">
    <div class="registration-form__alert"
        *ngIf="registerForm.get('login')?.invalid && registerForm.get('login')?.touched">
        <small *ngIf="registerForm.get('login')?.errors?.['required']">Это поле не может быть пустым</small>
        
    </div>
    <div class="registration-form__alert" *ngIf="checkLogin()">
        <small >Такой пользователь существует</small>
    </div>

    <label class="registration-form__label" ><b>Пароль</b></label>
    <input class="registration-form__input" type = "password" formControlName="password" placeholder="Введите пароль">
    <div class="registration-form__alert"
        *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <small *ngIf="registerForm.get('password')?.errors?.['required']">Это поле не может быть пустым</small>
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Длина должна быть не менее {{registerForm.get('password')?.errors?.['minlength'].requiredLength}}</small>
    </div>
    
    <label class="registration-form__label" ><b>Подтвердите пароль</b></label>
    <input class="registration-form__input" type = "password" formControlName="pswCheck" placeholder="Введите пароль повторно">
    <div class="registration-form__alert"
        *ngIf="registerForm.get('pswCheck')?.invalid && registerForm.get('pswCheck')?.touched">
        
        <small *ngIf="registerForm.get('pswCheck')?.errors?.['required']">Это поле не может быть пустым</small>
        <small *ngIf="registerForm.get('pswCheck')?.errors?.['passwordMismatch']"> Пароли не совпадают</small>
    </div>
    
    <button class="registration-form__button" type="submit" (click)="OnRegistration()" [disabled]="registerForm.invalid || checkLogin()">Создать</button>
    
</form>