<form class = "edit-dialog-form" [formGroup]="changeForm" novalidate (ngSubmit)="changeNewTask()">
    <h1 mat-dialog-title>Изменение задачи</h1>
    <div class="edit-dialog-form__name-date">
        <mat-form-field class="edit-dialog-form__form-field" appearance="fill">
            <mat-label>Название</mat-label>
            <input matInput type="text" formControlName="nameTask">
            <button class = "edit-dialog-form__btn-clear" *ngIf="changeForm.get('nameTask')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="changeForm.patchValue({nameTask:''})">
              <mat-icon class="edit-dialog-form__icon-clear">close</mat-icon>
            </button>
        </mat-form-field>
        
        <mat-form-field class="edit-dialog-form__form-field" color="accent" appearance="fill">
          <mat-label>Назначить дедлайн</mat-label>
          <input matInput [min] = "minDate" [matDatepicker]="picker1" formControlName="dateDeadline">
          <mat-hint>дд.мм.гггг</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    
    
    <mat-form-field class="edit-dialog-form__full-width" appearance="fill">
        <mat-label>Описание</mat-label>
        <textarea matInput placeholder="" formControlName="description"></textarea>
    </mat-form-field>
    

    
    <mat-form-field class = "edit-dialog-form__full-width" appearance="fill">
        <mat-label>Приоритет</mat-label>
        <mat-select formControlName="priority" required>
        <mat-option *ngFor="let p of priority" [value]="p" >
            {{p}}
        </mat-option>
        </mat-select>
    </mat-form-field>
    
    
    <div>
        <mat-form-field class = "edit-dialog-form__full-width" appearance="fill">
        <mat-label>Статус задачи</mat-label>
        <mat-select formControlName="status" required>
            <mat-option *ngFor="let s of status" [value]="s" >
            {{s}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    
    <mat-form-field class="edit-dialog-form__full-width" appearance="fill">
    <mat-label>Категория</mat-label>
    <input type="text"
            placeholder="Задать свою категорию"
            aria-label="Number"
            matInput
            formControlName="category"
            [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of categoryAll" [value]="option">
        {{option}} 
        <button class = "edit-dialog-form__btn-clear" (click)="deleteCategory(option)">
            <mat-icon>clear</mat-icon>
        </button>
        </mat-option>
    </mat-autocomplete>
    </mat-form-field>
    
    
    <div mat-dialog-actions>
      <button class = "edit-dialog-form__modal-btn" mat-button mat-dialog-close>Закрыть</button>
      <button class = "edit-dialog-form__modal-btn" mat-button mat-dialog-close type="submit" [disabled]="changeForm.invalid" (click)="changeNewTask()">Изменить</button>
    </div>
</form>